<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.dao.board.BoardLikeDao">
	<insert id="insert" parameterType="BoardLike" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Board_Like
		(user_id, Board_id)
		VALUES
		(#{userId}, #{boardId})
	</insert>
	<delete id="delete">
		DELETE FROM Board_Like
		WHERE User_id=#{userId} and Board_id=#{boardId}
	</delete>
</mapper>
