<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.dao.board.BoardReviewDao">
	<insert id="insert" parameterType="BoardReview" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Board_Review
		(Board_id, User_id, content, created_at)
		VALUES
		(#{boardId}, #{userId}, #{content}, now())
	</insert>
	<update id="update" parameterType="BoardReview">
		UPDATE Board_Review
		SET
			content = #{content}
		WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM Board_Review
		WHERE id = #{id}
	</delete>
	<select id="selectBoard" parameterType="int" resultType="BoardReview">
		SELECT id, board_id, user_id, content, created_at, (select nickname from user where id=board_review.user_id) as userNickname FROM Board_Review WHERE Board_id=#{boardId}
	</select>
	<select id="selectUser" parameterType="String" resultType="BoardReview">
		SELECT * FROM Board_Review WHERE User_id=#{userId}
	</select>
</mapper>
