<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.dao.board.BoardCategoryDao">
	<insert id="insert" parameterType="BoardCategory" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Board_Category
		(name, is_authorized, writer_type, reviewer_type, like_type, is_challenge, Challenge_id)
		VALUES
		(#{name}, #{isAuthorized}, #{writerType}, #{reviewerType}, #{likeType}, #{isChallenge}, #{ChallengeId})
	</insert>
	<update id="update" parameterType="BoardCategory">
		UPDATE Board_Category
		SET
			name = #{name},
			is_authorized = #{isAuthorized},
			writer_type = #{writerType},
			reviewer_type = #{reviewerType},
			like_type = #{likeType},
			is_challenge = #{isChallenge},
			Challenge_id = #{ChallengeId},
		WHERE id = #{id}
	</update>
	<select id="selectAll" resultType="BoardCategory">
		SELECT * FROM Board_Category
	</select>
</mapper>
