<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.dao.challenge.ChallengeParticipateDao">
	<insert id="insert" parameterType="ChallengeParticipate" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO challenge
		(id, User_id, Challenge_id)
		VALUES
		(#{id}, #{UserId}, #{ChallengeId})
	</insert>
	<delete id = "delete" parameterType="int">
		DELETE FROM challengeParticipate
		WHERE id = #{id}
	</delete>
	<update id="update" parameterType="ChallengeParticipate">
		UPDATE challengeParticipate
		SET 
			id = #{id},
			User_id = #{UserId},
			Challenge_id = #{ChallengeId},
		WHERE id = #{id}
	</update>
	<select id="select" parameterType="String" resultType="ChallengeParticipate">
		SELECT * FROM video WHERE user_id=#{userId}
	</select>
</mapper>
