<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.dao.challenge.ChallengeIngDao">
	<insert id="insert" parameterType="ChallengeIng">
		INSERT INTO challenge_ing
		(Challenge_participate_id, idx, content, created_at, img)
		values
		(#{challengeParticipateId}, #{idx}, #{content}, now(), #{img})
	</insert>
	<update id="update" parameterType="ChallengeIng">
		UPDATE Challenge_ing
		SET 
			Challenge_participate_id = #{challengeParticipateId},
			idx = #{idx},
			content = #{content},
			check = #{check},
			img = #{img}
		WHERE id = #{id}
	</update>
	<select id="selectAll" resultType="ChallengeIng">
		SELECT * FROM Challenge_ing
	</select>
	<delete id="delete" parameterType="int">
		DELETE FROM Challenge_ing
		WHERE id = #{id}
	</delete>
	<select id="search" parameterType="String" resultType="ChallengeIng">
		SELECT * FROM Challenge_ing WHERE user_id = #{userId}
	</select>
	<select id="selectByChallengeParticipateId" parameterType="int" resultType="ChallengeIng">
		SELECT * FROM Challenge_ing WHERE Challenge_participate_id = #{id} ORDER BY idx
	</select>
</mapper>
